language: csharp 
dist: trusty
os: linux
mono: none
dotnet: 2.1.4
services:
- docker
before_install:
- npm install -g npm
install:
- dotnet restore ./angular5dotnetcore2.0/dotnetcoreplusangular5Template.sln
script:
 - dotnet --info
 - dotnet build ./angular5dotnetcore2.0/dotnetcoreplusangular5Template.sln
 - ls -a
 - chmod +x build.sh && bash build.sh
